.contenedor{
    margin: auto;
    display: table;
}
h2 {
    float: left;
    color:#276749;
    position: relative;
}
h2 > span {
    position: absolute;
    right: 0;
    width: 0;
    background:#ecc94b;
    border-left: 1px solid rgba(22, 22, 21, 0.418);
    animation: writing 4s infinite alternate steps(25);
}
@keyframes writing{
    from {
        width: 100%;
    }
    to{
        width: 0;
    }
}